.feynman__title{
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    width: 648px;
    text-align:center;
    font-size:120px;
    line-height:1.15;
    font-weight:bold;
    position: relative;
    z-index: 1;
  }