.feynman__link{
    position: absolute;
    z-index: 1;
    top:50%;
    bottom:auto;
    right:48px;
    font-size:36px;
    line-height:51px;
    font-weight:normal;
    text-decoration:none;
    color:#2f80ed;
  }