.feynman{
    min-height:790px;
    position: relative;
    /**display:flex;
    flex-direction:column;
    background-image:url(../images/feynman.png);
    align-items:center;**/
    background-color:#f2f2f2;
    flex-direction: column;
    align-items:center;
  }
 
 
  
