.cards__item{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-right:100px;
    margin-top:60px;
    width:240px;
  }
  
  .cards__item:nth-of-type(3n){
    margin-right:0px;
  }