.feynman__subtitle{
    position: relative;
    z-index: 1;
    margin-top:70px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:36px;
    line-height:51px;
    font-weight:normal;
    margin-bottom: 0px;
  }