.oakley{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    background-color:#f2f2f2;
    margin-top:0px;
    padding-bottom:80px;
    padding-top:60px;/*суммируется с отступом two-columns, получается 160px.*/
  }