.kaufman__triangle{
    position:absolute;
    top:0px;
    right:-210px;
    min-width:877px;
    min-height:877px;
    background-image:url("../../../images/kaufman-triangle.svg");
    animation:rotation 20s infinite linear;
    object-fit:fill;
    overflow: visible;
  }