.page{
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header{
  position:relative;
  display:flex;
  align-items:center;
  flex-flow: wrap;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  /* выше установили ограничения для секции */
}
/* и элемента с модификатором вида ключ-значение */

.logo{
  width:183px;
}
.logo_place_header{
  position: absolute;
  top:32px;
  left:64px;
  height:32px;
}
.header__title{
  margin: 0;
  margin-left:64px;
  line-height:96px;
  max-width:730px; /**Не очень понятно, свойства типа Max или Min width(или Height) следует прописывать вообще всегда? для всех текстовых блоков**/
  font-size: 102px;
  font-weight:bold;
  z-index:2;
}
.header__subtitle{
  max-width:388px;
  margin: 0;
  position: absolute;
  bottom:30px;
  left:64px;
  font-size:18px;
  line-height:25px;
  z-index:2;
}
.header__square-pic{
  position: absolute;
  background-color:#2f80ed;
  width:565px;
  height:568px;
  right:0px;
  top:64px;
}
.header__link{
  text-decoration:none;
  color:#2f80ed;
}
.header__main-illustration{
  position: absolute;
  right:0px;
  bottom:0px;
  width:765px;
  height:608px;
  z-index:1;
}
.description{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
}
.two-columns{
  display:flex;
  justify-content:space-between;
  width:80%;
  margin-top:100px;
}
.two-columns__brief{
  max-width: 175px;
  margin-top:0;
  margin-bottom: 0;
  color: #2f80ed;
  font-size:18px;
  line-height:1.2;
  font-weight:normal;
}
.two-columns__main-text{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  font-weight:normal;
  width: 80%;
  min-width: 784px;
}
.two-columns__span-accient{
  font-weight:bold;
}
.two-columns__paragraph
{
  margin-top:0;
  margin-bottom:30px;
  font-size:24px;
  line-height:34px;
}
.two-columns__paragraph:last-of-type
{
  margin-bottom:0px;
}
.digits{
  align-items: center;
  display:flex;
  justify-content:flex-start;
  width:100%;
  flex-direction: column;
}
.section-title
{
  margin-top:100px;
  width:60%;
  text-align:center;
  font-size:60px;
  line-height:1.15;
  font-weight:bold;
  margin-bottom:20px;
}
.section-subtitle
{
  margin: 0;
  width:60%;
  text-align:center;
  font-size:24px;
  line-height:34px;
  font-weight:normal;
}
.table{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  width:1100px;
  margin-bottom:100px;
}

.table__cell{
  width:250px;
  margin-top:60px;
  margin-left:0px;
}
.table__heading{
  margin: 0;
  font-size:24px;
  line-height:1.15;
  font-weight:bold;
}
.table__text{
  margin-top:20px;
  margin-bottom:0px;
  font-size:18px;
  line-height:1.2;
  font-weight:normal;
}
.feynman{
  min-height:790px;
  padding-top:100px;
  position: relative;
  /**display:flex;
  flex-direction:column;
  background-image:url(../images/feynman.png);
  align-items:center;**/
  background-color:#f2f2f2;
  flex-direction: column;
  align-items:center;
}
.feynman__title{
  margin: 0;
  margin-left:auto;
  margin-right:auto;
  width: 648px;
  text-align:center;
  font-size:120px;
  line-height:1.15;
  font-weight:bold;
  position: relative;
  z-index: 1;
}
.feynman__subtitle{
  position: relative;
  z-index: 1;
  margin-top:70px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:36px;
  line-height:51px;
  font-weight:normal;
}
.feynman__link{
  position: absolute;
  z-index: 1;
  top:50%;
  bottom:auto;
  right:48px;
  font-size:36px;
  line-height:51px;
  font-weight:normal;
  text-decoration:none;
  color:#2f80ed;
}
.feynman__feynman-image{
  width:867px;
  height:637px;
  position:absolute;
  left:0;
  bottom:0;
}

.kaufman{
  background-color:#1f1f1f;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  position: relative;
}
.kaufman__triangle{
  position:absolute;
  top:0px;
  right:-210px;
  width:877px;
  height:877px;
  background-image:url("../images/kaufman-triangle.svg");
  object-fit:cover;
}
.section-title_theme_dark{
  position: relative;
  color:white;
}
.section-subtitle_theme_dark{
  position: relative;
  color:white;
}
/**
Вот тут не совсем понятно: Нельзя ли просто создать класс theme_dark и использовать его как модификатор и к title и к subtitle?
**/
.table_theme_dark{
  margin-bottom:90px;
}
.table__cell_theme_dark{
  width:200px;
  margin-top:80px;
  font-size:18px;
}

/**Тут так же непонятно: у блоков таблицы очень разные параметры не понятно, в чем смысл подключать
table__cell, если ВСЕ его параметры будут переопределены? (Как мне сказали, в slack'e - так можно делать)
**/

.table__heading_theme_dark{
  position: relative;
  color:white;
  z-index:1;
}
.table__text_theme_dark
{
  position: relative;
  color:white;
  z-index:1;
}
.footer
{
  background-color:#1f1f1f;
  min-height: 350px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:stretch;
}
.footer__columns{
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top:90px;
  margin-bottom:40px;
}
.footer__column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo_place_footer{
  height:35px;
}
.footer__column_content_copyright{
  justify-content:space-between;
  flex-basis: 731px;
}
.footer__author{
  margin-top:18px;
  margin-bottom:18px;
  font-size:18px;
  line-height:25px;
  font-weight:normal;
  color:white;
}
.footer__column_content_info{
  justify-content:flex-start;
}
.footer__column_content_social{
  justify-content:flex-start;
}

.footer__column-heading
{
  margin-top: 0;
  margin-bottom:20px;
  font-size:18px;
  line-height:30px;
  font-weight:bold;
  color:white;
}
.footer__column-link{
  display:flex;
  flex-direction: flex-row;
  align-items:baseline;
  text-decoration:none;
  font-size:18px;
  line-height:30px;
  font-weight:normal;
  color:white;
}
.footer__social-icon{
  width:16px;
  height:16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right:10px;
  vertical-align:center;
}
