/*
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} 


.page{
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /*
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  /*
  margin: 0 auto;

  /* выше для экранов больше 1600px отцентрировали весь контент */
  /*
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link{
  transition:opacity 1s linear;
}

.link:hover{
  opacity:0.5;
}

.logo{
  width:183px;
}
.logo_place_header{
  position: absolute;
  top:32px;
  left:64px;
  height:32px;
}

/*.header{
  position:relative;
  display:flex;
  align-items:center;
  flex-flow: wrap;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  overflow: hidden;
}
  /* выше установили ограничения для секции */

/*
.header__title{
  margin: 0;
  margin-left:64px;
  line-height:96px;
  max-width:730px; 
  font-size: 102px;
  font-weight:bold;
  z-index:2;
}

/*
.header__subtitle{
  max-width:388px;
  margin: 0;
  position: absolute;
  bottom:30px;
  left:64px;
  font-size:18px;
  line-height:25px;
  z-index:2;
}
/*
.header__square-pic{
  position: absolute;
  width:565px;
  height:568px;
  right:0px;
  top:64px;
  background-color:#2f80ed;
  animation:rotation 20s infinite linear;
}
*/
/*
.header__link{
  text-decoration:none;
  color:#2f80ed;
}

.header__main-illustration{
  position: absolute;
  right:0px;
  bottom:0px;
  width:765px;
  height:608px;
  z-index:1;
}

.description{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
}
.two-columns{
  display:flex;
  justify-content:space-between;
  width:80%;
  margin-top:100px;
}
.two-columns__brief{
  max-width: 175px;
  margin-top:0;
  margin-bottom: 0;
  color: #2f80ed;
  font-size:18px;
  line-height:1.2;
  font-weight:normal;
}
.two-columns__main-text{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  font-weight:normal;
  width: 80%;
  min-width: 784px;
}
.two-columns__span-accient{
  font-weight:bold;
}
.two-columns__paragraph
{
  margin-top:0;
  margin-bottom:30px;
  font-size:24px;
  line-height:34px;
}
.two-columns__paragraph:last-of-type
{
  margin-bottom:0px;
}

.techniques{
  align-items: center;
  display:flex;
  justify-content:flex-start;
  width:80%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.cards{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:950px;
}

.cards__item{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-right:100px;
  margin-top:60px;
  width:240px;
}

.cards__item:nth-of-type(3n){
  margin-right:0px;
}

.cards__image{
  width:140px;
  height:140px;
  margin-right:40px;
  margin-left:40px;
  margin-bottom:43px;
  border-radius:140px;
}

.cards__title{
  margin:0 0 16px 0;
  line-height:1.15;
  font-weight:bold;
}

.cards__description{
  text-align: center;
  font-size:18px;
  line-height:1.2;
  font-weight:normal;
}

.video{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:100%;
  margin-bottom:100px;
  margin-bottom:0px;
  position: relative;
  overflow:visible;
}

.iframe__videos{
  flex-direction:row;
  right:auto;
  left:auto;
  margin-bottom:-50px;
}
.iframe__video{
  margin-right:20px;
}

.iframe__video:last-of-type{
  margin-right:0px;
}

.oakley{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  background-color:#f2f2f2;
  margin-top:0px;
  padding-bottom:100px;
}
*/
/*
.khan{
  min-width: 100%;
  background-color:#f2f2f2;
  display:flex;
  justify-content:center;
  padding-top:105px;
}

.khan__container{
  display:flex;
  flex-direction:column;
  width:80%;
  margin-top:0px;
}

.khan__author{
  margin-top:0px;
  margin-bottom:0px;
  line-height:42px;
  font-weight:bold;
  font-size:30px;
}

.khan__title{
  margin-top:0px;
  margin-bottom:50px;
  line-height:1.15;
  font-weight:bold;
  font-size:60px;
}

.khan__quote{
  width:790px;
  margin-top:0px;
  margin-bottom:36px;
  line-height:34px;
  font-weight:normal;
  font-size:24px;
}

.khan__quote-author{
  margin-top:0px;
  margin-bottom:10px;
  line-height:1.15;
  font-weight:bold;
  font-size:24px;
}

.khan__quote-author-subline{
  margin-top:0px;
  margin-bottom:36px;
  line-height:1.15;
  font-weight:normal;
  font-size:24px;
}

.khan__book-container{
  display:flex;
  margin-top:0px;
  margin-bottom:0px;
}

.khan__book-pic{
  width:620px;
  height:608px;
  margin-right:48px;

}
.khan__buy-link{
  text-decoration:none;
  color:#2f80ed;
  line-height:62px;
  font-weight:normal;
  font-size:30px;
}
*/

/*
.digits{
  align-items: center;
  display:flex;
  justify-content:flex-start;
  width:100%;
  flex-direction: column;
}
/*
.table{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  width:1100px;
  margin-bottom:100px;
}

.table__cell{
  width:250px;
  margin-top:60px;
  margin-left:0px;
}
.table__heading{
  margin: 0;
  font-size:24px;
  line-height:1.15;
  font-weight:bold;
}
.table__text{
  margin-top:20px;
  margin-bottom:0px;
  font-size:18px;
  line-height:1.2;
  font-weight:normal;
}
/*
.feynman{
  min-height:790px;
  padding-top:100px;
  position: relative;
  /**display:flex;
  flex-direction:column;
  background-image:url(../images/feynman.png);
  align-items:center;**//*
  background-color:#f2f2f2;
  flex-direction: column;
  align-items:center;
}
.feynman__title{
  margin: 0;
  margin-left:auto;
  margin-right:auto;
  width: 648px;
  text-align:center;
  font-size:120px;
  line-height:1.15;
  font-weight:bold;
  position: relative;
  z-index: 1;
}
.feynman__subtitle{
  position: relative;
  z-index: 1;
  margin-top:70px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:36px;
  line-height:51px;
  font-weight:normal;
}
.feynman__link{
  position: absolute;
  z-index: 1;
  top:50%;
  bottom:auto;
  right:48px;
  font-size:36px;
  line-height:51px;
  font-weight:normal;
  text-decoration:none;
  color:#2f80ed;
}
.feynman__feynman-image{
  width:867px;
  height:637px;
  position:absolute;
  left:0;
  bottom:0;
}

.kaufman{
  background-color:#1f1f1f;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  position: relative;
}

.kaufman__triangle{
  position:absolute;
  top:0px;
  right:-210px;
  min-width:877px;
  min-height:877px;
  background-image:url("../images/kaufman-triangle.svg");
  animation:rotation 20s infinite linear;
  object-fit:fill;
  overflow: visible;
}
*/
/*
.section-title_theme_dark{
  position: relative;
  color:white;
}

.section-subtitle_theme_dark{
  position: relative;
  color:white;
}
/**
Вот тут не совсем понятно: Нельзя ли просто создать класс theme_dark и использовать его как модификатор и к title и к subtitle?
**/
/*
.table_theme_dark{
  margin-bottom:90px;
}

.table__cell_theme_dark{
  width:200px;
  margin-top:80px;
  font-size:18px;
  border:1px solid red;
}

/**Тут так же непонятно: у блоков таблицы очень разные параметры не понятно, в чем смысл подключать
table__cell, если ВСЕ его параметры будут переопределены? (Как мне сказали, в slack'e - так можно делать)
**/
/*
.table__heading_theme_dark{
  position: relative;
  color:white;
  z-index:1;
}

.table__text_theme_dark
{
  position: relative;
  color:white;
  z-index:1;
}
/*
.resources{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.resources__logo-zone{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-top:80px;
  margin-bottom:217px;
  width:1100px;
}

.resorces__logo{
  width:270px;
  height:38px;
}
*/
/*
.footer
{
  background-color:#1f1f1f;
  min-height: 350px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:stretch;
}

.footer__columns{
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top:90px;
  margin-bottom:40px;
}

.footer__column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo_place_footer{
  height:35px;
}

.footer__column_content_copyright{
  justify-content:space-between;
  flex-basis: 731px;
}

.footer__author{
  margin-top:18px;
  margin-bottom:18px;
  font-size:18px;
  line-height:25px;
  font-weight:normal;
  color:white;
}

.footer__column_content_info{
  justify-content:flex-start;
}

.footer__column_content_social{
  justify-content:flex-start;
}

.footer__column-heading
{
  margin-top: 0;
  margin-bottom:20px;
  font-size:18px;
  line-height:30px;
  font-weight:bold;
  color:white;
}

.footer__column-link{
  display:flex;
  flex-direction: flex-row;
  align-items:baseline;
  text-decoration:none;
  font-size:18px;
  line-height:30px;
  font-weight:normal;
  color:white;
}

.footer__social-icon{
  width:16px;
  height:16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right:10px;
  vertical-align:center;
}
